Based on the data snippet, here is a description of the features and what they likely represent in the context of an insurance claims dataset.

### Numerical Features
* **`months_as_customer`**: Number of months the person has been a customer.
* **`age`**: Age of the insured person.
* **`policy_number`**: A unique identifier for the policy.
* **`policy_deductable`**: The deductible amount the insured must pay on a claim.
* **`policy_annual_premium`**: The yearly cost of the insurance policy.
* **`umbrella_limit`**: The financial limit of an umbrella liability policy.
* **`insured_zip`**: The insured's ZIP code.
* **`capital-gains`**: A monetary gain on an investment.
* **`capital-loss`**: A monetary loss on an investment.
* **`incident_hour_of_the_day`**: The hour of the day the incident occurred.
* **`number_of_vehicles_involved`**: The total number of vehicles in the incident.
* **`witnesses`**: The number of witnesses to the incident.
* **`total_claim_amount`**: The total amount of the claim.
* **`injury_claim`**: The amount claimed for injuries.
* **`property_claim`**: The amount claimed for property damage.
* **`vehicle_claim`**: The amount claimed for vehicle damage.
* **`auto_year`**: The year the insured vehicle was manufactured.
* **`csl_per_person`**: The coverage limit per person for bodily injury.
* **`csl_per_accident`**: The coverage limit per accident for bodily injury.

***

### Categorical and Temporal Features
* **`policy_bind_date`**: The date the policy was activated.
* **`policy_state`**: The state where the policy was issued.
* **`policy_csl`**: The Combined Single Limit (CSL) coverage, indicating how coverage limits are structured.
* **`insured_sex`**: The gender of the insured person.
* **`insured_education_level`**: The highest level of education of the insured.
* **`insured_occupation`**: The occupation of the insured.
* **`insured_hobbies`**: The hobbies of the insured person.
* **`insured_relationship`**: The relationship of the insured to the policyholder.
* **`incident_date`**: The date the incident occurred.
* **`incident_type`**: The type of incident (e.g., Vehicle Theft, Multi-vehicle Collision).
* **`collision_type`**: The type of collision (e.g., Side Collision, Rear Collision), often `NaN` for thefts.
* **`incident_severity`**: The severity of the incident.
* **`authorities_contacted`**: Which authorities were contacted (e.g., Police, Fire).
* **`incident_state`**: The state where the incident occurred.
* **`incident_city`**: The city where the incident occurred.
* **`incident_location`**: A more specific location for the incident.
* **`property_damage`**: Whether there was property damage (`YES` or `NO`).
* **`bodily_injuries`**: Whether there were bodily injuries (`YES` or `NO`).
* **`police_report_available`**: Whether a police report is available (`YES` or `NO`).
* **`auto_make`**: The make of the insured vehicle.
* **`auto_model`**: The model of the insured vehicle.
* **`fraud_reported`**: A binary feature (`Y` or `N`) indicating if the claim was fraudulent. This is the likely **target variable**.

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [62]:
df=pd.read_csv(r'D:\Insurance Claim Prediction Project\data\raw\insurance_claims.csv')
pd.set_option('display.max_columns', None)

In [63]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported', '_c39'],
      dtype='object')

In [64]:
## dropping unnecessary columns 
df.drop(columns=['_c39','policy_number','insured_zip','incident_location'],inplace=True)

In [65]:
df.head()

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,2014-10-17,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,sleeping,husband,53300,0,2015-01-25,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,2006-06-27,IN,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,reading,other-relative,0,0,2015-01-21,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,2000-09-06,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,board-games,own-child,35100,0,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,1990-05-25,IL,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,2015-01-10,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,2014-06-06,IL,500/1000,1000,1583.91,6000000,MALE,Associate,sales,board-games,unmarried,66000,-46000,2015-02-17,Vehicle Theft,?,Minor Damage,NaN,NY,Arlington,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [66]:
df.describe()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,203.954000,38.948000,1136.000000,1256.406150,1.101000e+06,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000
std,115.113174,9.140287,611.864673,244.167395,2.297407e+06,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861
min,0.000000,19.000000,500.000000,433.330000,-1.000000e+06,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000
25%,115.750000,32.000000,500.000000,1089.607500,0.000000e+00,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000
50%,199.500000,38.000000,1000.000000,1257.200000,0.000000e+00,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000
75%,276.250000,44.000000,2000.000000,1415.695000,0.000000e+00,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000
max,479.000000,64.000000,2000.000000,2047.590000,1.000000e+07,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_bind_date             1000 non-null   object
 3   policy_state                 1000 non-null   object
 4   policy_csl                   1000 non-null   object
 5   policy_deductable            1000 non-null   int64
 6   policy_annual_premium        1000 non-null   float64
 7   umbrella_limit               1000 non-null   int64
 8   insured_sex                  1000 non-null   object
 9   insured_education_level      1000 non-null   object
 10  insured_occupation           1000 non-null   object
 11  insured_hobbies              1000 non-null   object
 12  insured_relationship         1000 non-null   object
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_date                1000 non-null   object
 16  incident_type                1000 non-null   object
 17  collision_type               1000 non-null   object
 18  incident_severity            1000 non-null   object
 19  authorities_contacted        909 non-null    object
 20  incident_state               1000 non-null   object
 21  incident_city                1000 non-null   object
 22  incident_hour_of_the_day     1000 non-null   int64
 23  number_of_vehicles_involved  1000 non-null   int64
 24  property_damage              1000 non-null   object
 25  bodily_injuries              1000 non-null   int64
 26  witnesses                    1000 non-null   int64
 27  police_report_available      1000 non-null   object
 28  total_claim_amount           1000 non-null   int64
 29  injury_claim                 1000 non-null   int64
 30  property_claim               1000 non-null   int64
 31  vehicle_claim                1000 non-null   int64
 32  auto_make                    1000 non-null   object
 33  auto_model                   1000 non-null   object
 34  auto_year                    1000 non-null   int64
 35  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(15), object(20)
memory usage: 281.4+ KB

In [68]:
df.head(3)

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,2014-10-17,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,sleeping,husband,53300,0,2015-01-25,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,2006-06-27,IN,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,reading,other-relative,0,0,2015-01-21,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,2000-09-06,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,board-games,own-child,35100,0,2015-02-22,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N

In [69]:
## handling 'policy_bind_date'
df['policy_bind_date']=pd.to_datetime(df['policy_bind_date'])
df['policy_bind_year']=df['policy_bind_date'].dt.year
df['policy_bind_month']=df['policy_bind_date'].dt.month
df['policy_bind_day']=df['policy_bind_date'].dt.day

## handling 'incident_date'
df['incident_date']=pd.to_datetime(df['incident_date'])
df['incident_date_year']=df['incident_date'].dt.year
df['incident_date_month']=df['incident_date'].dt.month
df['incident_date_day']=df['incident_date'].dt.day

In [70]:
## dropiing 'policy_bind_date' and 'incident_date'
df.drop(columns=['policy_bind_date','incident_date'],inplace=True)

In [71]:
df.head(3)

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_year,policy_bind_month,policy_bind_day,incident_date_year,incident_date_month,incident_date_day
0,328,48,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,sleeping,husband,53300,0,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y,2014,10,17,2015,1,25
1,228,42,IN,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,reading,other-relative,0,0,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y,2006,6,27,2015,1,21
2,134,29,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,board-games,own-child,35100,0,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,2000,9,6,2015,2,22

In [72]:
df['policy_csl'].str.split('/').str[1]

0       500
1       500
2       300
3       500
4      1000
       ...
995    1000
996     300
997     500
998    1000
999     500
Name: policy_csl, Length: 1000, dtype: object

In [73]:
## handling policy_csl
df['csl_per_person']=df['policy_csl'].str.split('/').str[0].astype(int)
df['csl_per_accident']=df['policy_csl'].str.split('/').str[1].astype(int)

# dropping policy_csl
df.drop(columns=['policy_csl'],inplace=True)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_state                 1000 non-null   object
 3   policy_deductable            1000 non-null   int64
 4   policy_annual_premium        1000 non-null   float64
 5   umbrella_limit               1000 non-null   int64
 6   insured_sex                  1000 non-null   object
 7   insured_education_level      1000 non-null   object
 8   insured_occupation           1000 non-null   object
 9   insured_hobbies              1000 non-null   object
 10  insured_relationship         1000 non-null   object
 11  capital-gains                1000 non-null   int64
 12  capital-loss                 1000 non-null   int64
 13  incident_type                1000 non-null   object
 14  collision_type               1000 non-null   object
 15  incident_severity            1000 non-null   object
 16  authorities_contacted        909 non-null    object
 17  incident_state               1000 non-null   object
 18  incident_city                1000 non-null   object
 19  incident_hour_of_the_day     1000 non-null   int64
 20  number_of_vehicles_involved  1000 non-null   int64
 21  property_damage              1000 non-null   object
 22  bodily_injuries              1000 non-null   int64
 23  witnesses                    1000 non-null   int64
 24  police_report_available      1000 non-null   object
 25  total_claim_amount           1000 non-null   int64
 26  injury_claim                 1000 non-null   int64
 27  property_claim               1000 non-null   int64
 28  vehicle_claim                1000 non-null   int64
 29  auto_make                    1000 non-null   object
 30  auto_model                   1000 non-null   object
 31  auto_year                    1000 non-null   int64
 32  fraud_reported               1000 non-null   object
 33  policy_bind_year             1000 non-null   int32
 34  policy_bind_month            1000 non-null   int32
 35  policy_bind_day              1000 non-null   int32
 36  incident_date_year           1000 non-null   int32
 37  incident_date_month          1000 non-null   int32
 38  incident_date_day            1000 non-null   int32
 39  csl_per_person               1000 non-null   int64
 40  csl_per_accident             1000 non-null   int64
dtypes: float64(1), int32(6), int64(17), object(17)
memory usage: 297.0+ KB

In [75]:
df.incident_city.unique()

array(['Columbus', 'Riverwood', 'Arlington', 'Springfield', 'Hillsdale',
       'Northbend', 'Northbrook'], dtype=object)

In [76]:
df.head()

,months_as_customer,age,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_year,policy_bind_month,policy_bind_day,incident_date_year,incident_date_month,incident_date_day,csl_per_person,csl_per_accident
0,328,48,OH,1000,1406.91,0,MALE,MD,craft-repair,sleeping,husband,53300,0,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y,2014,10,17,2015,1,25,250,500
1,228,42,IN,2000,1197.22,5000000,MALE,MD,machine-op-inspct,reading,other-relative,0,0,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y,2006,6,27,2015,1,21,250,500
2,134,29,OH,2000,1413.14,5000000,FEMALE,PhD,sales,board-games,own-child,35100,0,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,2000,9,6,2015,2,22,100,300
3,256,41,IL,2000,1415.74,6000000,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,1990,5,25,2015,1,10,250,500
4,228,44,IL,1000,1583.91,6000000,MALE,Associate,sales,board-games,unmarried,66000,-46000,Vehicle Theft,?,Minor Damage,NaN,NY,Arlington,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N,2014,6,6,2015,2,17,500,1000

In [77]:
X=df.drop(columns=['fraud_reported'])
y=df['fraud_reported'].map({'Y': 1 , 'N' : 0})

In [78]:
numeric_columns=[cols for cols in X.columns if X[cols].dtype!='O']
cat_columns=[cols for cols in X.columns if X[cols].dtype=='O']
threshold=10

low_cat=[cols for cols in cat_columns if X[cols].nunique() <= threshold]
high_cat=[cols for cols in cat_columns if X[cols].nunique() > threshold]

In [79]:
# handling police_report_available
df['police_report_available']=df['police_report_available'].replace('?',np.nan)
# hangling collision_type
df['collision_type']=df['collision_type'].replace('?','No Collision')

In [80]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder,StandardScaler
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

In [81]:
numeric_transformer = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
)
low_cat_transformer = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('onehot',OneHotEncoder(handle_unknown='ignore',drop='first'))
    ]
)
high_cat_transformer = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('target_encoder',ce.TargetEncoder())
   ]
)
preprocessor= ColumnTransformer(
    transformers=[
        ('numerical_columns',numeric_transformer,numeric_columns),
        ('low_cat_columns',low_cat_transformer,low_cat),
        ('high_cat_columns',high_cat_transformer,high_cat)
    ]
)

In [82]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.3,random_state=42)

In [83]:
X_train=preprocessor.fit_transform(X_train,y_train)
X_test=preprocessor.transform(X_test)

In [84]:
preprocessor_file_path=os.path.join(os.getcwd(),'preprocessor.pkl')

In [85]:
import pickle
with open(preprocessor_file_path,'wb') as file_obj:
    pickle.dump(preprocessor,file_obj)

In [86]:
smote=SMOTE(random_state=42)
X_train,y_train=smote.fit_resample(X_train,y_train)

In [87]:
smote_file_path=os.path.join(os.getcwd(),'smote.pkl')
with open(smote_file_path,'wb') as file_obj:
    pickle.dump(smote,file_obj)

In [88]:
df.isna().sum()

months_as_customer               0
age                              0
policy_state                     0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_type                    0
collision_type                   0
incident_severity                0
authorities_contacted           91
incident_state                   0
incident_city                    0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                  0
bodily_injuries                  0
witnesses                        0
police_report_available        343
total_claim_amount               0
injury_claim                     0
property_claim                   0
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
policy_bind_year                 0
policy_bind_month                0
policy_bind_day                  0
incident_date_year               0
incident_date_month              0
incident_date_day                0
csl_per_person                   0
csl_per_accident                 0
dtype: int64

In [89]:
df.authorities_contacted.fillna(df.authorities_contacted.mode()[0],inplace=True)
df.authorities_contacted.isna().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_8032\1650171256.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.authorities_contacted.fillna(df.authorities_contacted.mode()[0],inplace=True)

np.int64(0)

In [90]:
df.police_report_available.fillna(df.police_report_available.mode()[0],inplace=True)
df.police_report_available.isna().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_8032\849925195.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.police_report_available.fillna(df.police_report_available.mode()[0],inplace=True)

np.int64(0)

In [91]:
data_dir=os.path.join('data','processed')
os.makedirs(data_dir,exist_ok=True)

In [92]:
df.to_csv(os.path.join(data_dir,'processed_data.csv'),index=False)